@import "tailwindcss";

:root {
  --color-offwhite: #F9F9F6;
  --color-brandGold: #C5A059;
  --color-brandGoldHover: #B28E46;
  --color-brandDark: #121212;
  --color-brandSlate: #2A2E33;
  --color-brandMuted: #666666;
  --color-brandBorder: #E5E4DF;
}

body {
  background-color: #F9F9F6;
  color: #121212;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.modal-backdrop {
  background-color: rgba(18, 18, 18, 0.65);
  backdrop-filter: blur(4px);
}